{% extends 'layout/base.html'  %}
{% load static %}

{% block body %}
     <table class="imgs" width="100%" height="150px" align="center">
        <tr>
            <td class="contact"> <img class="aboutusimg" src="{% static 'homepage/images/telephone.png '%} " width="30px height=25px"alt="not found" "/> Call Us</td>
            <td class="contact"> <img class="aboutusimg" src="{% static 'homepage/images/map.png'%} " width="30px height=25px"alt="not found" "/> Location</td>
            <td class="contact"> <img class="aboutusimg" src="{% static 'homepage/images/working-time.png'%} " width="30px height=25px"alt="not found" "/> Working hours</td>
           
        </tr>
        <tr>
            <th>01126105400</th>
            <th>zagazig sharqia</th>
            <th>24/h</th>
        </tr>
        <tr>
            <th>055236802</th>
            <th>mansoura</th>
            <th></th>
        </tr>
    </table>
{%endblock%}